software/docker/nodered/data/flows.json
[
    {
        "id": "993296db21e0de95",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "5f8b5286451f333f",
        "type": "tab",
        "label": "Einkaufssimulation",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "d4570277bd2545ce",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "249c7afb0df11d0e",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD.MM.YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "d4e8a1e8746ae8dc",
        "type": "ui_group",
        "name": "Standard",
        "tab": "d4570277bd2545ce",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "48959b49.34fb6c",
        "type": "ui_group",
        "name": "Kameras",
        "tab": "b3c64a2d.c0638",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": true
    },
    {
        "id": "b3c64a2d.c0638",
        "type": "ui_tab",
        "name": "Kameras",
        "icon": "fa-video-camera",
        "order": 2,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "d7d5290d1343ea02",
        "type": "ui_group",
        "name": "360° Kamera",
        "tab": "b3c64a2d.c0638",
        "order": 2,
        "disp": true,
        "width": "15",
        "collapse": false,
        "className": ""
    },
    {
        "id": "9472ae9df42c4534",
        "type": "ui_group",
        "name": "Shop-Controller",
        "tab": "de72aab522dbab1e",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "b1634a54dc9da698",
        "type": "mqtt-broker",
        "name": "",
        "broker": "192.168.10.10",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "63527e49cf671131",
        "type": "ui_group",
        "name": "Status",
        "tab": "d4570277bd2545ce",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "5762a8c37f72c790",
        "type": "ui_group",
        "name": "Abstandssensoren",
        "tab": "de72aab522dbab1e",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "3d85fbc00304fe9b",
        "type": "ui_group",
        "name": "Licht",
        "tab": "d4570277bd2545ce",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "de72aab522dbab1e",
        "type": "ui_tab",
        "name": "Fehlerbehebung",
        "icon": "dashboard",
        "order": 3,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "82d1995195117840",
        "type": "ui_group",
        "name": "Shop Status",
        "tab": "de72aab522dbab1e",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "8ee2a8be9e79749a",
        "type": "ui_group",
        "name": "Simulation",
        "tab": "564fb3f8a786add3",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "564fb3f8a786add3",
        "type": "ui_tab",
        "name": "Simulation",
        "icon": "dashboard",
        "order": 4,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "5a30b569fe0f7853",
        "type": "ui_group",
        "name": "Kartenleser",
        "tab": "564fb3f8a786add3",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "64afc51f7e4516fe",
        "type": "ui_template",
        "z": "993296db21e0de95",
        "group": "48959b49.34fb6c",
        "name": "Aufnahmen-Historie",
        "order": 1,
        "width": 0,
        "height": 0,
        "format": "<p><a href=\"http://192.168.10.10:8081/\">Aufnahmen der letzten 24h</a></p>\n",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 580,
        "y": 320,
        "wires": [
            []
        ]
    },
    {
        "id": "ead3b545b4da0608",
        "type": "ui_template",
        "z": "993296db21e0de95",
        "group": "d7d5290d1343ea02",
        "name": "360Grad Kamera",
        "order": 1,
        "width": 0,
        "height": 0,
        "format": "<iframe width=\"800\" height=\"600\" src=\"http://192.168.10.25/video1.mjpg\" frameborder=\"0\" allowfullscreen></iframe>\n<!--<video src=\"http://192.168.178.207/video1.mjpg\" controls>\n   Your browser does not support the <code>video</code> element.\n</video>\n-->\n<p><a href=\"http://192.168.10.25/video1.mjpg\">MPEG Stream UG</a></p>\n<p><a href=\"rtsp://192.168.10.25:554/live1.sdp\">RTSP Stream UG (low)</a></p>\n<p><a href=\"rtsp://192.168.10.25:554/live2.sdp\">RTSP Stream UG (high)</a></p>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 570,
        "y": 400,
        "wires": [
            []
        ]
    },
    {
        "id": "59c3e87f83413c32",
        "type": "ui_template",
        "z": "993296db21e0de95",
        "group": "48959b49.34fb6c",
        "name": "No Referrer",
        "order": 3,
        "width": 0,
        "height": 0,
        "format": "<meta name=\"referrer\" content=\"no-referrer\">",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "global",
        "className": "",
        "x": 710,
        "y": 220,
        "wires": [
            []
        ]
    },
    {
        "id": "7b4e7422dbe62a47",
        "type": "ui_template",
        "z": "993296db21e0de95",
        "group": "48959b49.34fb6c",
        "name": "Bullet Kamera",
        "order": 2,
        "width": 6,
        "height": 5,
        "format": "<img id=myImage alt=\"\" src=\"/cam01\"  />\n\n<script language=\"javascript\" type=\"text/javascript\">\nsetInterval(function() {\nvar myImageElement = document.getElementById('myImage');\nmyImageElement.src = '/cam01?rand=' + Math.random();\n}, 3000);\n</script>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": false,
        "templateScope": "local",
        "className": "",
        "x": 560,
        "y": 440,
        "wires": [
            []
        ]
    },
    {
        "id": "7311c9bc01095390",
        "type": "http in",
        "z": "993296db21e0de95",
        "name": "",
        "url": "/cam01",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 170,
        "y": 140,
        "wires": [
            [
                "80946dc7c29c1c47"
            ]
        ]
    },
    {
        "id": "80946dc7c29c1c47",
        "type": "http request",
        "z": "993296db21e0de95",
        "name": "",
        "method": "GET",
        "ret": "bin",
        "paytoqs": "ignore",
        "url": "http://peter:peter@192.168.10.24/dms?nowprofileid=2",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 370,
        "y": 140,
        "wires": [
            [
                "9568a8084acccdda"
            ]
        ]
    },
    {
        "id": "9568a8084acccdda",
        "type": "http response",
        "z": "993296db21e0de95",
        "name": "",
        "statusCode": "",
        "headers": {
            "Content-Type": "image/jpeg",
            "Cache-Control": "no-cache"
        },
        "x": 550,
        "y": 140,
        "wires": []
    },
    {
        "id": "a6e99190dcaf40ca",
        "type": "mqtt out",
        "z": "993296db21e0de95",
        "name": "shop_controller/upload_all",
        "topic": "homie/shop_controller/upload_all",
        "qos": "1",
        "retain": "false",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "b1634a54dc9da698",
        "x": 440,
        "y": 500,
        "wires": []
    },
    {
        "id": "33c10ada04315e62",
        "type": "ui_button",
        "z": "993296db21e0de95",
        "name": "",
        "group": "9472ae9df42c4534",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Upload All",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 170,
        "y": 500,
        "wires": [
            [
                "a6e99190dcaf40ca"
            ]
        ]
    },
    {
        "id": "23c878149d2e0088",
        "type": "mqtt out",
        "z": "993296db21e0de95",
        "name": "shop_controller/retrieve_all",
        "topic": "homie/shop_controller/retrieve_all",
        "qos": "1",
        "retain": "false",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "b1634a54dc9da698",
        "x": 440,
        "y": 560,
        "wires": []
    },
    {
        "id": "28471789c6523b12",
        "type": "ui_button",
        "z": "993296db21e0de95",
        "name": "",
        "group": "9472ae9df42c4534",
        "order": 4,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Retrieve All",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 170,
        "y": 560,
        "wires": [
            [
                "23c878149d2e0088"
            ]
        ]
    },
    {
        "id": "73e3bbce7808f2b5",
        "type": "ui_button",
        "z": "993296db21e0de95",
        "name": "",
        "group": "63527e49cf671131",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Initialisieren",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "0",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 170,
        "y": 680,
        "wires": [
            [
                "0965fa82d88ae84b"
            ]
        ]
    },
    {
        "id": "b98e300076a8ca73",
        "type": "ui_button",
        "z": "993296db21e0de95",
        "name": "",
        "group": "63527e49cf671131",
        "order": 4,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Laden schließen",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 180,
        "y": 720,
        "wires": [
            [
                "5771e840ddf55057"
            ]
        ]
    },
    {
        "id": "0965fa82d88ae84b",
        "type": "mqtt out",
        "z": "993296db21e0de95",
        "name": "",
        "topic": "homie/shop_controller/request_shop_status",
        "qos": "1",
        "retain": "false",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "b1634a54dc9da698",
        "x": 590,
        "y": 680,
        "wires": []
    },
    {
        "id": "77f08a0af53fe6b7",
        "type": "mqtt in",
        "z": "993296db21e0de95",
        "name": "",
        "topic": "homie/shop_controller/shop_status",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "b1634a54dc9da698",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 260,
        "y": 760,
        "wires": [
            [
                "2e15aad63a168040",
                "776a46bb5c6c43fc"
            ]
        ]
    },
    {
        "id": "2e15aad63a168040",
        "type": "ui_text",
        "z": "993296db21e0de95",
        "group": "63527e49cf671131",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Shop Status",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 630,
        "y": 760,
        "wires": []
    },
    {
        "id": "5771e840ddf55057",
        "type": "mqtt out",
        "z": "993296db21e0de95",
        "name": "",
        "topic": "homie/shop_controller/close_shop",
        "qos": "1",
        "retain": "false",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "b1634a54dc9da698",
        "x": 480,
        "y": 720,
        "wires": []
    },
    {
        "id": "d1b2543501e68df7",
        "type": "mqtt out",
        "z": "993296db21e0de95",
        "name": "",
        "topic": "homie/shelf01/can-on-all",
        "qos": "1",
        "retain": "false",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "b1634a54dc9da698",
        "x": 450,
        "y": 860,
        "wires": []
    },
    {
        "id": "602302420aa71078",
        "type": "mqtt out",
        "z": "993296db21e0de95",
        "name": "",
        "topic": "homie/shelf01/can-off-all",
        "qos": "1",
        "retain": "false",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "b1634a54dc9da698",
        "x": 470,
        "y": 900,
        "wires": []
    },
    {
        "id": "d7dd17d1fe561618",
        "type": "ui_button",
        "z": "993296db21e0de95",
        "name": "",
        "group": "9472ae9df42c4534",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "CAN all on",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 190,
        "y": 860,
        "wires": [
            [
                "d1b2543501e68df7"
            ]
        ]
    },
    {
        "id": "1eea48424524face",
        "type": "ui_button",
        "z": "993296db21e0de95",
        "name": "",
        "group": "9472ae9df42c4534",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "CAN all off",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 190,
        "y": 900,
        "wires": [
            [
                "602302420aa71078"
            ]
        ]
    },
    {
        "id": "4722d91b217b3268",
        "type": "mqtt in",
        "z": "993296db21e0de95",
        "name": "",
        "topic": "homie/shop-fsr/1",
        "qos": "1",
        "datatype": "auto-detect",
        "broker": "b1634a54dc9da698",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 200,
        "y": 1020,
        "wires": [
            [
                "4179c092ce1fb67c"
            ]
        ]
    },
    {
        "id": "6dbe60891a5ef50a",
        "type": "ui_text",
        "z": "993296db21e0de95",
        "group": "d4e8a1e8746ae8dc",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Türöffner",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 720,
        "y": 1040,
        "wires": []
    },
    {
        "id": "4179c092ce1fb67c",
        "type": "switch",
        "z": "993296db21e0de95",
        "name": "",
        "property": "payload.v",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "1",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "0",
                "vt": "num"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 3,
        "x": 370,
        "y": 1020,
        "wires": [
            [
                "849173f9072c26bd"
            ],
            [
                "012509439bc7f684"
            ],
            [
                "c95461e4ea3f28c4"
            ]
        ]
    },
    {
        "id": "849173f9072c26bd",
        "type": "template",
        "z": "993296db21e0de95",
        "name": "",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "ein",
        "output": "str",
        "x": 520,
        "y": 1000,
        "wires": [
            [
                "6dbe60891a5ef50a"
            ]
        ]
    },
    {
        "id": "012509439bc7f684",
        "type": "template",
        "z": "993296db21e0de95",
        "name": "",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "aus",
        "output": "str",
        "x": 520,
        "y": 1040,
        "wires": [
            [
                "6dbe60891a5ef50a"
            ]
        ]
    },
    {
        "id": "c95461e4ea3f28c4",
        "type": "template",
        "z": "993296db21e0de95",
        "name": "",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "Fehler",
        "output": "str",
        "x": 520,
        "y": 1080,
        "wires": [
            [
                "6dbe60891a5ef50a"
            ]
        ]
    },
    {
        "id": "40c6358bceea0193",
        "type": "mqtt out",
        "z": "993296db21e0de95",
        "name": "",
        "topic": "homie/fsr-control/innen/tuerschliesser/set",
        "qos": "1",
        "retain": "false",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "b1634a54dc9da698",
        "x": 700,
        "y": 1140,
        "wires": []
    },
    {
        "id": "1bc0b4e116469b5f",
        "type": "ui_button",
        "z": "993296db21e0de95",
        "name": "",
        "group": "d4e8a1e8746ae8dc",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Türöffner aktivieren",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "1",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 410,
        "y": 1140,
        "wires": [
            [
                "40c6358bceea0193"
            ]
        ]
    },
    {
        "id": "347c01a5cd975240",
        "type": "mqtt in",
        "z": "993296db21e0de95",
        "name": "",
        "topic": "homie/shop-track/e6616408431e8b32/distance",
        "qos": "1",
        "datatype": "auto-detect",
        "broker": "b1634a54dc9da698",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 300,
        "y": 1420,
        "wires": [
            [
                "a00c4a80cc42cdc3"
            ]
        ]
    },
    {
        "id": "a00c4a80cc42cdc3",
        "type": "ui_level",
        "z": "993296db21e0de95",
        "group": "5762a8c37f72c790",
        "order": 4,
        "width": "1",
        "height": "6",
        "name": "4",
        "label": "",
        "colorHi": "#00f900",
        "colorWarn": "#ff9900",
        "colorNormal": "#ff2600",
        "colorOff": "#595959",
        "min": 0,
        "max": "2300",
        "segWarn": "",
        "segHigh": "",
        "unit": "mm",
        "layout": "sv",
        "channelA": "",
        "channelB": "",
        "decimals": 0,
        "animations": "off",
        "shape": 2,
        "colorschema": "fixed",
        "textoptions": "default",
        "colorText": "#eeeeee",
        "fontLabel": "",
        "fontValue": "",
        "fontSmall": "",
        "colorFromTheme": true,
        "textAnimations": false,
        "hideValue": false,
        "tickmode": "off",
        "peakmode": false,
        "property": "payload",
        "peaktime": 3000,
        "x": 570,
        "y": 1420,
        "wires": []
    },
    {
        "id": "779d0a87d44ad553",
        "type": "mqtt in",
        "z": "993296db21e0de95",
        "name": "",
        "topic": "homie/shop-track/e661640843635132/distance",
        "qos": "1",
        "datatype": "auto-detect",
        "broker": "b1634a54dc9da698",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 300,
        "y": 1340,
        "wires": [
            [
                "2f057a6f63ae8934"
            ]
        ]
    },
    {
        "id": "2f057a6f63ae8934",
        "type": "ui_level",
        "z": "993296db21e0de95",
        "group": "5762a8c37f72c790",
        "order": 2,
        "width": "1",
        "height": "6",
        "name": "2",
        "label": "",
        "colorHi": "#00f900",
        "colorWarn": "#ff9900",
        "colorNormal": "#ff2600",
        "colorOff": "#595959",
        "min": 0,
        "max": "2300",
        "segWarn": "",
        "segHigh": "",
        "unit": "mm",
        "layout": "sv",
        "channelA": "",
        "channelB": "",
        "decimals": 0,
        "animations": "off",
        "shape": 2,
        "colorschema": "fixed",
        "textoptions": "default",
        "colorText": "#eeeeee",
        "fontLabel": "",
        "fontValue": "",
        "fontSmall": "",
        "colorFromTheme": true,
        "textAnimations": false,
        "hideValue": false,
        "tickmode": "off",
        "peakmode": false,
        "property": "payload",
        "peaktime": 3000,
        "x": 570,
        "y": 1340,
        "wires": []
    },
    {
        "id": "74e9bd6688fa2266",
        "type": "ui_level",
        "z": "993296db21e0de95",
        "group": "5762a8c37f72c790",
        "order": 3,
        "width": "1",
        "height": "6",
        "name": "3",
        "label": "",
        "colorHi": "#00f900",
        "colorWarn": "#ff9900",
        "colorNormal": "#ff2600",
        "colorOff": "#595959",
        "min": 0,
        "max": "2300",
        "segWarn": "",
        "segHigh": "",
        "unit": "mm",
        "layout": "sv",
        "channelA": "",
        "channelB": "",
        "decimals": 0,
        "animations": "off",
        "shape": 2,
        "colorschema": "fixed",
        "textoptions": "default",
        "colorText": "#eeeeee",
        "fontLabel": "",
        "fontValue": "",
        "fontSmall": "",
        "colorFromTheme": true,
        "textAnimations": false,
        "hideValue": false,
        "tickmode": "off",
        "peakmode": false,
        "property": "payload",
        "peaktime": 3000,
        "x": 570,
        "y": 1380,
        "wires": []
    },
    {
        "id": "ed31c7bdbd1625f4",
        "type": "mqtt in",
        "z": "993296db21e0de95",
        "name": "",
        "topic": "homie/shop-track/e6615cc1d3500e23/distance",
        "qos": "1",
        "datatype": "auto-detect",
        "broker": "b1634a54dc9da698",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 300,
        "y": 1380,
        "wires": [
            [
                "74e9bd6688fa2266"
            ]
        ]
    },
    {
        "id": "79b5367f8032768b",
        "type": "ui_level",
        "z": "993296db21e0de95",
        "group": "5762a8c37f72c790",
        "order": 1,
        "width": "1",
        "height": "6",
        "name": "1 (Türe)",
        "label": "",
        "colorHi": "#00f900",
        "colorWarn": "#ff9900",
        "colorNormal": "#ff2600",
        "colorOff": "#595959",
        "min": 0,
        "max": "2300",
        "segWarn": "",
        "segHigh": "",
        "unit": "mm",
        "layout": "sv",
        "channelA": "",
        "channelB": "",
        "decimals": 0,
        "animations": "off",
        "shape": 2,
        "colorschema": "fixed",
        "textoptions": "default",
        "colorText": "#eeeeee",
        "fontLabel": "",
        "fontValue": "",
        "fontSmall": "",
        "colorFromTheme": true,
        "textAnimations": false,
        "hideValue": false,
        "tickmode": "off",
        "peakmode": false,
        "property": "payload",
        "peaktime": 3000,
        "x": 580,
        "y": 1300,
        "wires": []
    },
    {
        "id": "669575eb0859a33f",
        "type": "mqtt in",
        "z": "993296db21e0de95",
        "name": "",
        "topic": "homie/shop-track/e661640843437e39/distance",
        "qos": "1",
        "datatype": "auto-detect",
        "broker": "b1634a54dc9da698",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 300,
        "y": 1300,
        "wires": [
            [
                "79b5367f8032768b"
            ]
        ]
    },
    {
        "id": "1c3e57d1ee836dd9",
        "type": "ui_button",
        "z": "993296db21e0de95",
        "name": "",
        "group": "9472ae9df42c4534",
        "order": 5,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Reset all scales",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "0",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 180,
        "y": 600,
        "wires": [
            [
                "8a2d30bda302bb9a"
            ]
        ]
    },
    {
        "id": "8a2d30bda302bb9a",
        "type": "mqtt out",
        "z": "993296db21e0de95",
        "name": "",
        "topic": "homie/shelf01/reset-all",
        "qos": "1",
        "retain": "false",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "b1634a54dc9da698",
        "x": 420,
        "y": 600,
        "wires": []
    },
    {
        "id": "680fdf797f869786",
        "type": "mqtt out",
        "z": "993296db21e0de95",
        "name": "",
        "topic": "homie/display-power-control-01/power/set",
        "qos": "1",
        "retain": "false",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "b1634a54dc9da698",
        "x": 690,
        "y": 1640,
        "wires": []
    },
    {
        "id": "215101dbdf40aa12",
        "type": "ui_switch",
        "z": "993296db21e0de95",
        "name": "",
        "label": "Display 01",
        "tooltip": "",
        "group": "d4e8a1e8746ae8dc",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": false,
        "decouple": "true",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "1",
        "onvalueType": "num",
        "onicon": "",
        "oncolor": "",
        "offvalue": "0",
        "offvalueType": "num",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 430,
        "y": 1640,
        "wires": [
            [
                "680fdf797f869786"
            ]
        ]
    },
    {
        "id": "9d5bcd87b9d6fdc8",
        "type": "mqtt in",
        "z": "993296db21e0de95",
        "name": "",
        "topic": "homie/display-power-control-01/power",
        "qos": "1",
        "datatype": "auto-detect",
        "broker": "b1634a54dc9da698",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 190,
        "y": 1640,
        "wires": [
            [
                "215101dbdf40aa12"
            ]
        ]
    },
    {
        "id": "47d32df0dfaddfe0",
        "type": "ui_switch",
        "z": "993296db21e0de95",
        "name": "",
        "label": "Display 02",
        "tooltip": "",
        "group": "d4e8a1e8746ae8dc",
        "order": 4,
        "width": 0,
        "height": 0,
        "passthru": false,
        "decouple": "true",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "1",
        "onvalueType": "num",
        "onicon": "",
        "oncolor": "",
        "offvalue": "0",
        "offvalueType": "num",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 430,
        "y": 1720,
        "wires": [
            [
                "97f65fc2169ec05b"
            ]
        ]
    },
    {
        "id": "36ec5b187c6db3c6",
        "type": "mqtt in",
        "z": "993296db21e0de95",
        "name": "",
        "topic": "homie/display-power-control-02/power",
        "qos": "1",
        "datatype": "auto-detect",
        "broker": "b1634a54dc9da698",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 190,
        "y": 1720,
        "wires": [
            [
                "47d32df0dfaddfe0"
            ]
        ]
    },
    {
        "id": "97f65fc2169ec05b",
        "type": "mqtt out",
        "z": "993296db21e0de95",
        "name": "",
        "topic": "homie/display-power-control-02/power/set",
        "qos": "1",
        "retain": "false",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "b1634a54dc9da698",
        "x": 690,
        "y": 1720,
        "wires": []
    },
    {
        "id": "e7f1a7c36a6fa2e0",
        "type": "mqtt in",
        "z": "993296db21e0de95",
        "name": "",
        "topic": "homie/fsr-control/aussen/licht",
        "qos": "1",
        "datatype": "auto-detect",
        "broker": "b1634a54dc9da698",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 200,
        "y": 1940,
        "wires": [
            [
                "5fb2b97c8ecd628d"
            ]
        ]
    },
    {
        "id": "1f9df93bd03a7e33",
        "type": "mqtt out",
        "z": "993296db21e0de95",
        "name": "",
        "topic": "homie/fsr-control/aussen/licht/set",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "b1634a54dc9da698",
        "x": 980,
        "y": 1940,
        "wires": []
    },
    {
        "id": "94d5c655765bb089",
        "type": "ui_switch",
        "z": "993296db21e0de95",
        "name": "",
        "label": "Außenlicht",
        "tooltip": "",
        "group": "3d85fbc00304fe9b",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": false,
        "decouple": "true",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "1",
        "onvalueType": "num",
        "onicon": "",
        "oncolor": "",
        "offvalue": "0",
        "offvalueType": "num",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 730,
        "y": 1940,
        "wires": [
            [
                "1f9df93bd03a7e33"
            ]
        ]
    },
    {
        "id": "5fb2b97c8ecd628d",
        "type": "change",
        "z": "993296db21e0de95",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.v",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 490,
        "y": 1940,
        "wires": [
            [
                "94d5c655765bb089"
            ]
        ]
    },
    {
        "id": "318cb48b686a1f2c",
        "type": "mqtt in",
        "z": "993296db21e0de95",
        "name": "",
        "topic": "homie/fsr-control/innen/licht",
        "qos": "1",
        "datatype": "auto-detect",
        "broker": "b1634a54dc9da698",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 200,
        "y": 2020,
        "wires": [
            [
                "d6cf7ae16b4df07c"
            ]
        ]
    },
    {
        "id": "d6cf7ae16b4df07c",
        "type": "change",
        "z": "993296db21e0de95",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.v",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 490,
        "y": 2020,
        "wires": [
            [
                "f8dd468ab407e80e"
            ]
        ]
    },
    {
        "id": "f8dd468ab407e80e",
        "type": "ui_switch",
        "z": "993296db21e0de95",
        "name": "",
        "label": "Innenlicht",
        "tooltip": "",
        "group": "3d85fbc00304fe9b",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": false,
        "decouple": "true",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "1",
        "onvalueType": "num",
        "onicon": "",
        "oncolor": "",
        "offvalue": "0",
        "offvalueType": "num",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 720,
        "y": 2020,
        "wires": [
            [
                "5a0bc138be9b63d3"
            ]
        ]
    },
    {
        "id": "5a0bc138be9b63d3",
        "type": "mqtt out",
        "z": "993296db21e0de95",
        "name": "",
        "topic": "homie/fsr-control/innen/licht/set",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "b1634a54dc9da698",
        "x": 970,
        "y": 2020,
        "wires": []
    },
    {
        "id": "3bf9117ed008bd91",
        "type": "comment",
        "z": "993296db21e0de95",
        "name": "Licht",
        "info": "",
        "x": 90,
        "y": 1840,
        "wires": []
    },
    {
        "id": "5718ba9130d9d400",
        "type": "inject",
        "z": "993296db21e0de95",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "00 20 * * *",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "1",
        "payloadType": "num",
        "x": 710,
        "y": 1880,
        "wires": [
            [
                "1f9df93bd03a7e33"
            ]
        ]
    },
    {
        "id": "ba23420a2cc458c8",
        "type": "inject",
        "z": "993296db21e0de95",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "00 06 * * *",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "0",
        "payloadType": "num",
        "x": 710,
        "y": 1840,
        "wires": [
            [
                "1f9df93bd03a7e33"
            ]
        ]
    },
    {
        "id": "776a46bb5c6c43fc",
        "type": "function",
        "z": "993296db21e0de95",
        "name": "ID -> Str",
        "func": "var shop_status_descr = {\n    0: \"Geräte Initialisierung\", \n    1: \"Bereit, Kein Kunde im Laden\", \n    2: \"Kunde authentifiziert/Waagen tara\",\n    3: \"Kunde betritt/verlässt gerade den Laden\", \n    4: \"Möglicherweise: Einkauf finalisiert & Kunde nicht mehr im Laden\",\n    5: \"Einkauf beendet und abgerechnet\", \n    6: \"ungenutzt\",\n    7: \"Warten auf: Vorbereitung für nächsten Kunden\", \n    8: \"Technischer Fehler aufgetreten\", \n    9: \"Kunde benötigt Hilfe\",\n    10: \"Laden geschlossen\", \n    11: \"Kunde möglicherweise im Laden\", \n    12: \"Kunde sicher im Laden\", \n    13: \"Fehler bei Authentifizierung\",\n    14: \"Bitte Laden betreten\", \n    15: \"Kunde nicht mehr im Laden. Abrechnung wird vorbereitet.\"\n};\n\nif (msg.payload in shop_status_descr) {\n    msg.payload = shop_status_descr[msg.payload];\n} else {\n    msg.payload = \"Invalid status\";\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 440,
        "y": 800,
        "wires": [
            [
                "982f959b98dd2657"
            ]
        ]
    },
    {
        "id": "982f959b98dd2657",
        "type": "ui_text",
        "z": "993296db21e0de95",
        "group": "63527e49cf671131",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Shop Status",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 630,
        "y": 800,
        "wires": []
    },
    {
        "id": "84d33885a408b354",
        "type": "ui_button",
        "z": "993296db21e0de95",
        "name": "",
        "group": "82d1995195117840",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Setze Mögliches Einkaufsende",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "4",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 230,
        "y": 640,
        "wires": [
            [
                "0965fa82d88ae84b"
            ]
        ]
    },
    {
        "id": "8198ea1bf5fc4048",
        "type": "mqtt in",
        "z": "5f8b5286451f333f",
        "name": "",
        "topic": "homie/shop_controller/shop_status",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "b1634a54dc9da698",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 200,
        "y": 200,
        "wires": [
            [
                "cd68a3106cc08ea0",
                "c85ee51012cc1078"
            ]
        ]
    },
    {
        "id": "cd68a3106cc08ea0",
        "type": "ui_text",
        "z": "5f8b5286451f333f",
        "group": "8ee2a8be9e79749a",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Shop Status",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 570,
        "y": 200,
        "wires": []
    },
    {
        "id": "c85ee51012cc1078",
        "type": "function",
        "z": "5f8b5286451f333f",
        "name": "ID -> Str",
        "func": "var shop_status_descr = {\n    0: \"Geräte Initialisierung\", \n    1: \"Bereit, Kein Kunde im Laden. Kartenterminal aktiv \", \n    2: \"Kunde authentifiziert/Waagen tara wird ausgeführt\",\n    3: \"Kunde betritt/verlässt gerade den Laden\", \n    4: \"Möglicherweise: Einkauf finalisiert & Kunde nicht mehr im Laden\",\n    5: \"Einkauf abgerechnet, Kassenbon-Anzeige\", \n    6: \"ungenutzt\",\n    7: \"Warten auf: Vorbereitung für nächsten Kunden. Kartenterminal bereit?\", \n    8: \"Technischer Fehler aufgetreten\", \n    9: \"Kunde benötigt Hilfe\",\n    10: \"Laden geschlossen\", \n    11: \"Kunde möglicherweise im Laden\", \n    12: \"Kunde sicher im Laden\", \n    13: \"Fehler bei Kartenterminal\",\n    14: \"Bitte Laden betreten\", \n    15: \"Sicher: Kunde nicht mehr im Laden.\\nKartenterminal: buchen!\",\n    16: \"Timeout Kartenterminal\",\n    17: \"Warten auf: Kartenterminal Buchung erfolgreich\"\n};\n\nif (msg.payload in shop_status_descr) {\n    msg.payload = shop_status_descr[msg.payload];\n} else {\n    msg.payload = \"Invalid status\";\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 380,
        "y": 240,
        "wires": [
            [
                "07ac77dc78ccf957"
            ]
        ]
    },
    {
        "id": "07ac77dc78ccf957",
        "type": "ui_text",
        "z": "5f8b5286451f333f",
        "group": "8ee2a8be9e79749a",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Shop Status",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 570,
        "y": 240,
        "wires": []
    },
    {
        "id": "910414beb817d5b9",
        "type": "mqtt out",
        "z": "5f8b5286451f333f",
        "name": "",
        "topic": "homie/shop_controller/request_shop_status",
        "qos": "1",
        "retain": "false",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "b1634a54dc9da698",
        "x": 570,
        "y": 340,
        "wires": []
    },
    {
        "id": "6f2a0c8c48bf92ea",
        "type": "ui_button",
        "z": "5f8b5286451f333f",
        "name": "",
        "group": "8ee2a8be9e79749a",
        "order": 4,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Initialisieren",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "0",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 150,
        "y": 340,
        "wires": [
            [
                "910414beb817d5b9"
            ]
        ]
    },
    {
        "id": "c2d5685190609785",
        "type": "ui_button",
        "z": "5f8b5286451f333f",
        "name": "",
        "group": "8ee2a8be9e79749a",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Setze Mögliches Einkaufsende",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "4",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 210,
        "y": 300,
        "wires": [
            [
                "910414beb817d5b9"
            ]
        ]
    },
    {
        "id": "86918bc4121f7f3c",
        "type": "mqtt in",
        "z": "5f8b5286451f333f",
        "name": "",
        "topic": "homie/cardreader/text",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "b1634a54dc9da698",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 160,
        "y": 440,
        "wires": [
            [
                "611088300fe5ce2b"
            ]
        ]
    },
    {
        "id": "611088300fe5ce2b",
        "type": "ui_text",
        "z": "5f8b5286451f333f",
        "group": "5a30b569fe0f7853",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "text",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 450,
        "y": 440,
        "wires": []
    },
    {
        "id": "e81342e26aab34fb",
        "type": "ui_text",
        "z": "5f8b5286451f333f",
        "group": "5a30b569fe0f7853",
        "order": 3,
        "width": "6",
        "height": "6",
        "name": "",
        "label": "text block",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "className": "",
        "x": 460,
        "y": 480,
        "wires": []
    },
    {
        "id": "771a0b28451ba0ec",
        "type": "mqtt in",
        "z": "5f8b5286451f333f",
        "name": "",
        "topic": "homie/cardreader/text_block",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "b1634a54dc9da698",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 180,
        "y": 480,
        "wires": [
            [
                "e81342e26aab34fb"
            ]
        ]
    },
    {
        "id": "2afae3dc07fe5b56",
        "type": "ui_button",
        "z": "5f8b5286451f333f",
        "name": "",
        "group": "5a30b569fe0f7853",
        "order": 4,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Erfolgreich Karte präsentiert",
        "tooltip": "preauth_res",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "{\"terminal-id\":60903182,\"amount\":5000,\"trace\":391,\"time\":121151,\"date\":520,\"exp-date\":2612,\"seq-no\":1,\"payment-type\":96,\"ef-id\":\"672590eeeeeeeee6783f\",\"receipt-no\":275,\"auth-id\":\"3836303231320000\",\"cc\":978,\"VU-number\":\"1882500001     \",\"card-name\":\"girocard\",\"card-type\":5,\"good-groups\":[0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,43,44,45,46,47,48,50,51,52,53,54,55,56,57,58,59,60,61,62,63,64,65,66,67,81,82,83,84,86,87,88,89,91,92,93,94,95,110,130,131,132,133,134,135,136,180,181,184,185,186,187,190],\"receipt-param\":1000000,\"return_code_completion\":0}",
        "payloadType": "json",
        "topic": "topic",
        "topicType": "msg",
        "x": 180,
        "y": 620,
        "wires": [
            [
                "2728710e973298f3"
            ]
        ]
    },
    {
        "id": "2728710e973298f3",
        "type": "mqtt out",
        "z": "5f8b5286451f333f",
        "name": "",
        "topic": "homie/cardreader/preauth_res",
        "qos": "1",
        "retain": "false",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "b1634a54dc9da698",
        "x": 510,
        "y": 620,
        "wires": []
    },
    {
        "id": "40c670a2e8ac89ab",
        "type": "mqtt in",
        "z": "5f8b5286451f333f",
        "name": "",
        "topic": "homie/cardreader/busy",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "b1634a54dc9da698",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 160,
        "y": 540,
        "wires": [
            [
                "547ee312135e6571"
            ]
        ]
    },
    {
        "id": "547ee312135e6571",
        "type": "ui_text",
        "z": "5f8b5286451f333f",
        "group": "5a30b569fe0f7853",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "cardreader busy",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 480,
        "y": 540,
        "wires": []
    },
    {
        "id": "dfe2359015d47dce",
        "type": "mqtt out",
        "z": "5f8b5286451f333f",
        "name": "",
        "topic": "homie/shop_controller/close_shop",
        "qos": "1",
        "retain": "false",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "b1634a54dc9da698",
        "x": 540,
        "y": 380,
        "wires": []
    },
    {
        "id": "46831a1abc174874",
        "type": "ui_button",
        "z": "5f8b5286451f333f",
        "name": "",
        "group": "8ee2a8be9e79749a",
        "order": 4,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Laden schließen",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 160,
        "y": 380,
        "wires": [
            [
                "dfe2359015d47dce"
            ]
        ]
    },
    {
        "id": "77fb58a3ca3084f7",
        "type": "ui_button",
        "z": "5f8b5286451f333f",
        "name": "",
        "group": "8ee2a8be9e79749a",
        "order": 4,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "End of Day",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 170,
        "y": 760,
        "wires": [
            [
                "4a5e4cb3fb7ca564"
            ]
        ]
    },
    {
        "id": "4a5e4cb3fb7ca564",
        "type": "mqtt out",
        "z": "5f8b5286451f333f",
        "name": "",
        "topic": "homie/cardreader/cmd/end_of_day",
        "qos": "1",
        "retain": "false",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "b1634a54dc9da698",
        "x": 560,
        "y": 760,
        "wires": []
    },
    {
        "id": "19acb0cfea736bc5",
        "type": "ui_button",
        "z": "5f8b5286451f333f",
        "name": "",
        "group": "5a30b569fe0f7853",
        "order": 4,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "HTML Pages Reload",
        "tooltip": "preauth_res",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "{\"terminal-id\":60903182,\"amount\":5000,\"trace\":391,\"time\":121151,\"date\":520,\"exp-date\":2612,\"seq-no\":1,\"payment-type\":96,\"ef-id\":\"672590eeeeeeeee6783f\",\"receipt-no\":275,\"auth-id\":\"3836303231320000\",\"cc\":978,\"VU-number\":\"1882500001     \",\"card-name\":\"girocard\",\"card-type\":5,\"good-groups\":[0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,43,44,45,46,47,48,50,51,52,53,54,55,56,57,58,59,60,61,62,63,64,65,66,67,81,82,83,84,86,87,88,89,91,92,93,94,95,110,130,131,132,133,134,135,136,180,181,184,185,186,187,190],\"receipt-param\":1000000,\"return_code_completion\":0}",
        "payloadType": "json",
        "topic": "topic",
        "topicType": "msg",
        "x": 160,
        "y": 680,
        "wires": [
            [
                "b398a5c481257339"
            ]
        ]
    },
    {
        "id": "b398a5c481257339",
        "type": "mqtt out",
        "z": "5f8b5286451f333f",
        "name": "",
        "topic": "homie/shop_controller/triggerHTMLPagesReload",
        "qos": "1",
        "retain": "false",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "b1634a54dc9da698",
        "x": 570,
        "y": 680,
        "wires": []
    },
    {
        "id": "6af94e053cafcee6",
        "type": "mqtt in",
        "z": "5f8b5286451f333f",
        "name": "",
        "topic": "homie/shop_controller/shop_status_last_change_timestamp",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "b1634a54dc9da698",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 280,
        "y": 840,
        "wires": [
            [
                "12431be325d71e1a"
            ]
        ]
    },
    {
        "id": "603e45b40c399cc8",
        "type": "ui_text",
        "z": "5f8b5286451f333f",
        "group": "5a30b569fe0f7853",
        "order": 3,
        "width": "0",
        "height": "0",
        "name": "",
        "label": "Last status change",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "className": "",
        "x": 890,
        "y": 840,
        "wires": []
    },
    {
        "id": "12431be325d71e1a",
        "type": "function",
        "z": "5f8b5286451f333f",
        "name": "function 1",
        "func": "var options = {\n    hour: 'numeric',\n    minute: 'numeric',\n    second: 'numeric'\n};\nmsg.payload = (\n    (new Date(msg.payload*1000)).toLocaleDateString('de-DE', options)\n    );\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 640,
        "y": 840,
        "wires": [
            [
                "603e45b40c399cc8"
            ]
        ]
    },
    {
        "id": "f721e4608616bff3",
        "type": "ui_text",
        "z": "5f8b5286451f333f",
        "group": "5a30b569fe0f7853",
        "order": 3,
        "width": "0",
        "height": "0",
        "name": "",
        "label": "Time",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "className": "",
        "x": 850,
        "y": 880,
        "wires": []
    },
    {
        "id": "7a8c10bbe26682ad",
        "type": "function",
        "z": "5f8b5286451f333f",
        "name": "function 2",
        "func": "var options = {\n    hour: 'numeric',\n    minute: 'numeric',\n    second: 'numeric'\n};\nmsg.payload = (\n    (new Date(msg.payload)).toLocaleDateString('de-DE', options)\n    );\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 640,
        "y": 880,
        "wires": [
            [
                "f721e4608616bff3"
            ]
        ]
    },
    {
        "id": "993c6c38560f0380",
        "type": "inject",
        "z": "5f8b5286451f333f",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "1",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 450,
        "y": 880,
        "wires": [
            [
                "7a8c10bbe26682ad"
            ]
        ]
    }
]